table {
  border: 3px solid lightgrey;
  height: auto;
  width: 1000px;
  background-color: white;
  font-family: monospace;
  color: grey;
  font-weight: bold;
  font-size: 14px;
  border-spacing: 5px;
  }

th {
  height: 50px;
  font-size: 18px;
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  }

h1 {
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

td {
  background-color: lightblue;
  text-align: ;
  vertical-align: ;
  padding: 8px;

}

tr:hover {background-color:  hsl(120, 100%, 80%);
}

.time {
  width: 80px;
  background-color: lightgrey;
  border:  3px solid silver;
}

th.time {
  color: grey;
  }

.monday {
  background-color: hsl(300, 100%, 80%);
  border: 3px solid hsl(300, 100%, 50%);
  border-collapse: collapse;
}

th.monday {

}

.tuesday {
  background-color: hsl(270, 100%, 80%);
  border: 3px solid hsl(270, 100%, 50%);
}

th.tuesday {

}

.wednesday {
  border: 3px solid hsl(240, 100%, 50%);
  background-color: hsl(240, 100%, 80%);
}

th.wednesday {
}

.thursday {
  border: 3px solid hsl(120, 100%, 40%);
  background-color: hsl(120, 100%, 80%);
}

th.thursday {

}

.friday {
  border: 3px solid hsl(60, 100%, 40%);
  background-color: hsl(60, 100%, 80%);
}

th.friday {

}

.saturday {
  border: 3px solid hsl(30, 100%, 45%);
  background-color: hsl(30, 100%, 75%);
}

th.saturday {

}

.sunday {
  border: 3px solid hsl(0, 100%, 50%);
  background-color: hsl(0, 100%, 80%);
}

th.sunday {

}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;

}

.rainbow-gradient {
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
  text-align: center;
  color: white;
  letter-spacing: 1.5em;
  }
